body {
  background-color: white;
  color: #303030;
  font-family: 'Helvetica', Arial, sans-serif;
  margin: 20px;
}

ol {
  padding: 0;
  margin: 0;
}

main {
  background-color: #f0f0f0;
  margin: 20px auto;
  max-width: 450px;
  padding: 20px;
  box-shadow: 8px 8px 10px #d3d3d3;
}

.app__title {
  text-align: center;
  color: #333333;
  font-size: 1.8em;
  font-weight: lighter;
}

.chatbot__text {
  color: #ee4e7a;
  font-weight: lighter;
}

.user__text {
  color: #333333;
  font-weight: lighter;
}

#history li {
  border-radius: 6px;
  list-style: none;
  padding: 10px;
}

#history li:nth-child(odd) {
  background-color: #e3e3e3;
}

form {
  margin-top: 20px;
  padding: 10px;
  background-color: #B0C4DE;
  border-radius: 6px;
}

input {
  padding: 4px;
  border-color: transparent;
  border-radius: 4px;
  font-size: 1em;
}

#username {
  width: 20%;
}

#message {
  width: 62%;
}

button {
  background-color: #6495ED;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 1em;
}
